PORT=3000
DATABASE_URL=postgres://postgres:d192ad6d1625df81b27e@mudali-hub_sistema-bd:5432/hub-bd?sslmode=disable
JWT_SECRET=mudalisecret_789456
NODE_ENV=production
FRONTEND_URL=https://sua-url-do-frontend.com
